.button {
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  width: 100px;
  height: 70px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #a5afd7;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 12px;
}

.button-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.button:active,
.button:hover {
  border: none;
  position: relative;
  top: 3px;
  background: rgb(145, 163, 235);
}
